;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "0.9.1"]
  [re-frame "1.1.2"]
  [day8.re-frame/http-fx "0.2.4"]
  [cljs-ajax "0.8.1"]
  [tupelo "21.01.26b"]
  [metosin/reitit "0.7.0-alpha7"]
  [metosin/reitit-spec "0.7.0-alpha7"]
  [metosin/reitit-frontend "0.7.0-alpha7"]
  [fipp "0.6.23"]
  [venantius/accountant "0.2.5"]]

 :dev-http {5000 "public/"}

 :builds
 {:app {:output-dir "public/compiledjs/"
        :asset-path "compiledjs"
        :target :browser
        :modules {:main {:init-fn filestorage.core/init!}}}}}
